@model IEnumerable<Domain.AlienDB_Empreendimentos>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-info" asp-controller="Empreendimentos" asp-action="Create">Novo Empreendimento</a>
<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                  <th>
                    @Html.DisplayNameFor(model => model.Id_Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id_Tipo_Imovel)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NomeLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Construtura)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Id_Regiao)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                        <td>
                        @Html.DisplayFor(modelItem => item.Id_Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Tipo_Imovel)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NomeLancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Construtura)
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Edit" asp-route-id=@item.Id>Editar</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-danger" asp-controller="Home" asp-action="IndexModal">Voltar</a>