@using Alien.Web.Models 
@model PaginatedList<Domain.AlienDB_Midia>

@{
    ViewData["Title"] = "Pesquisa";
}

<h2>Pesquisa</h2>

<style>
    .photo-gallery {
        color: #313437;
        background-color: #fff;
    }

        .photo-gallery p {
            color: #7d8285;
        }

        .photo-gallery h2 {
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 40px;
            color: inherit;
        }


        .photo-gallery .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px;
        }

            .photo-gallery .intro p {
                margin-bottom: 0;
            }

        .photo-gallery .photos {
            padding-bottom: 20px;
        }

        .photo-gallery .item {
            padding-bottom: 30px;
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
<div class="photo-gallery">
    <div class="container">
        <div class="row photos">
            <ul class="gallery_box">

                @foreach (var item in Model)
                {
                    @if (item != null)
                    {
                        <div class="col-sm-3" style="  left: 10px;">
                            <div class="box-two proerty-item">
                                <div class="item-thumb">
                                    <a href="~/Imovel/MaisFotos?id=@item.Id_Imovel">
                                        <a href="~/Imovel/MaisFotos?id=@item.Id_Imovel"><img style="width: 1900px; height: 300px;" class="img-fluid" src="@item.Caminho"></a>
                                    </a>
                                    <div class="item-entry overflow">
                                        <h5><a>@item.Imovel.Bairro</a></h5>
                                        <div class="dot-hr"></div>
                                        <span class="pull-left"><b> Região: </b> @item.Imovel.Regiao.Descricao </span><br />
                                        <span class="pull-left"><b> Status: </b> @item.Imovel.Flg_status </span>
                                        <span class="proerty-price pull-right"><b style="padding-left: 10px;">Valor: </b>@String.Format("{0:N0}", @item.Imovel.Valor_aluguel)</span>
                                        <p style="display: none;">@item.Imovel.Bairro</p>
                                        <div class="property-icon">
                                            <img src="/lib/assets/img/icon/bed.png"> @item.Imovel.Qtd_Dormitorios |
                                            <img src="/lib/assets/img/icon/shawer.png">@item.Imovel.Qtd_Banheiro |
                                            <img src="/lib/assets/img/icon/cars.png">@item.Imovel.Qtd_Carro_Garagem
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div class="col-md-12">
            <partial name="_paginacao" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        <h3><i class="fa fa-phone"></i>Alugue esse Imóvel</h3>
        <p class="text-muted">
            Nossos colaboradores atendem via Facebook, Whatsapp ou ligação telefonica, fique á vontade para escolher o melhor para voçê
        </p>
        <div class="row">
            <div class="col-xs-2 text-center">
                <p><strong>(14) 3433-7001</strong></p>
            </div>
            <div class="col-xs-2 text-center">
                <p><strong>(14) 9 9199-8554</strong></p>
            </div>
            <div class="col-xs-2 text-center">
                <p><strong>(14) 9 9146-0812</strong></p>
            </div>
            <div class="col-xs-2 text-center">
                <p><strong>(14) 9 9648-6569</strong></p>
            </div>
            <div class="col-xs-4 text-center">
                <p><strong>(14) 9 9136-4870</strong></p>
            </div>
        </div>
    </div>
</div>
@*<partial name="_paginacao" />*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

